Source: freefem++
Section: math
Priority: optional
Maintainer: Debian Scientific Computing Team <pkg-scicomp-devel@lists.alioth.debian.org>
Uploaders: Christophe Prud'homme <prudhomm@debian.org>
Build-Depends: cdbs, debhelper (>= 5.0.0), blas-dev | refblas3-dev, libarpack++2-dev (>= 2.1), libufsparse-dev, libfltk1.1-dev (>= 1.1.5-1), mpich-bin, libxxf86vm-dev, libxpm-dev, libgl1-mesa-dev
Standards-Version: 3.6.2

Package: freefem++
Architecture: any
Description: A PDE oriented language using Finite Element Method
 FreeFem++ is an implementation of a language dedicated to the finite element
 method. It provides you a way to solve Partial Differential Equations (PDE)
 simply.
 .
 Problems involving partial differential equations (pde) of  several branches
 of physics such as fluid-structure interactions require interpolations of data
 on several meshes and their manipulation within one program.
 .
 FreeFem++ is an extension of freefem, freefem+ written in C++.
 .
 This package contains the common files for the different flavors of FreeFem++.
 .
 Homepage: http://www.freefem.org/
